# Machine Learning

In [4]:
from sklearn.metrics import mean_squared_error

## Load data

In [82]:
import pandas as pd

data = pd.read_csv('../data_with_temp_processed.csv')

In [83]:
data.describe()

,Unnamed: 0,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year
count,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06
mean,4.941555e+06,2.272938e+03,1.850000e+02,8.502425e+00,8.665875e+00,1.173502e+01,5.596728e+00,3.629658e+02,2.990399e+00,2.463504e-01,3.009124e+00,1.597263e+02
std,2.922881e+06,2.071264e+03,1.065207e+02,1.294981e+01,5.113955e+00,5.717526e+00,4.884786e+00,1.812255e+02,2.053613e+00,4.308850e-01,2.002259e+00,1.066001e+02
min,0.000000e+00,5.500000e+01,1.000000e+00,0.000000e+00,-6.545000e+00,-2.930000e+00,-1.091000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.426544e+06,4.200000e+02,9.300000e+01,2.000000e+00,4.960000e+00,7.820000e+00,1.970000e+00,2.250000e+02,1.736562e+00,0.000000e+00,1.000000e+00,7.275000e+01
50%,4.853088e+06,2.058000e+03,1.850000e+02,5.000000e+00,8.510000e+00,1.142000e+01,5.560000e+00,3.380000e+02,2.490909e+00,0.000000e+00,3.000000e+00,1.440000e+02
75%,7.330184e+06,3.133750e+03,2.770000e+02,1.000000e+01,1.247000e+01,1.598000e+01,9.230000e+00,4.880000e+02,3.490000e+00,0.000000e+00,5.000000e+00,2.402500e+02
max,1.011060e+07,9.137000e+03,3.690000e+02,8.190000e+02,2.563000e+01,3.028000e+01,2.098000e+01,1.022000e+03,5.610000e+01,1.000000e+00,6.000000e+00,3.820000e+02

In [84]:
data = data.drop(columns=['Unnamed: 0'])

In [55]:
sample = data.sample(n=500000, random_state=91)
sample = sample.drop(columns=['temp_mean'])

In [56]:
sample.describe()

,location,product,sa_quantity,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year
count,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000
mean,2272.482596,184.912128,8.496744,11.742038,5.596030,363.505322,2.989823,0.246172,3.007984,159.702884
std,2070.387745,106.367515,12.952539,5.720407,4.883897,181.290533,2.052074,0.430780,2.000224,106.520245
min,55.000000,1.000000,0.000000,-2.930000,-10.910000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,369.000000,93.000000,2.000000,7.810000,1.970000,225.000000,1.733333,0.000000,1.000000,73.000000
50%,2011.000000,185.000000,5.000000,11.430000,5.560000,339.000000,2.490625,0.000000,3.000000,144.000000
75%,3175.000000,277.000000,10.000000,15.980000,9.240000,489.000000,3.490164,0.000000,5.000000,240.000000
max,9137.000000,369.000000,457.000000,30.280000,20.980000,1022.000000,19.000000,1.000000,6.000000,382.000000

In [7]:
sample = sample[sample['sa_quantity'] <= 60]
sample.describe()

,location,product,sa_quantity,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year
count,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000,495053.000000
mean,2276.500981,185.366516,7.647696,11.743395,5.596372,363.436121,2.995834,0.246596,3.002394,159.638010
std,2070.546384,106.360349,9.003645,5.722752,4.885619,181.276079,2.055851,0.431030,2.003288,106.501117
min,55.000000,1.000000,0.000000,-2.930000,-10.910000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,437.000000,93.000000,2.000000,7.820000,1.970000,225.000000,1.750000,0.000000,1.000000,73.000000
50%,2105.000000,186.000000,5.000000,11.430000,5.560000,339.000000,2.491176,0.000000,3.000000,144.000000
75%,3175.000000,277.000000,10.000000,15.990000,9.250000,489.000000,3.490909,0.000000,5.000000,240.000000
max,9137.000000,369.000000,60.000000,30.280000,20.980000,1022.000000,19.000000,1.000000,6.000000,382.000000


## Train/Test split

In [8]:
from sklearn.model_selection import train_test_split

X = sample.drop(columns=['sa_quantity'])
y = sample['sa_quantity']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=91)

## Scale data

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from joblib import dump

dump(scaler, 'scaler.joblib')

['scaler.joblib']

## Reduce dimensions (not useful)

In [24]:
from sklearn.decomposition import FactorAnalysis

fa_transformer = FactorAnalysis(n_components=8, random_state=91)

fa_transformer.fit(X_train)
X_fa_train = fa_transformer.transform(X_train)
print(X_train.shape)
print(X_fa_train.shape)

(80000, 59)
(80000, 8)

## Spectral Embedding (not useful)

In [ ]:
from sklearn.manifold import SpectralEmbedding

embedding = SpectralEmbedding(n_components=7)
embedding.fit(X_train)
X_e_train = embedding.transform(X_train)
print(X_train.shape)
print(X_e_train.shape)

## PCA

In [30]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.9)
pca.fit(X_train)
print(X_train.shape)
X_train = pca.transform(X_train)
X_test = pca.transform(X_test)
print(X_train.shape)

(80000, 59)
(80000, 49)

## PCA transpose (not useful)

In [23]:
tpca = PCA(n_components=10)
X_t_train = X_train.T
tpca.fit(X_t_train)
X_tpca_train = tpca.transform(X_t_train)
print(X_t_train.shape)
print(X_tpca_train.shape)

(10, 4853088)
(10, 10)

## Random Forest

In [13]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(n_estimators=100, random_state=91)
clf.fit(X_train, y_train)

y_predict = clf.predict(X_test)

rf_mse = mean_squared_error(y_test, y_predict)
print(f'Random forest regressor error: {rf_mse}')

Random forest regressor error: 22.657005691286827

In [14]:
from joblib import dump
dump(clf, 'regressor.joblib')

['regressor.joblib']

In [23]:
outliers = sample[sample['sa_quantity'] > 60]
outliers

y_predict = clf.predict(outliers.drop(columns=['sa_quantity']))

mse = mean_squared_error(outliers['sa_quantity'], y_predict)
mse

8041.866525874267

## SGDRegressor

In [10]:
from sklearn.linear_model import SGDRegressor

sgd = SGDRegressor()
sgd.fit(X_train, y_train)
y_predict = sgd.predict(X_test)

sgd_mse = mean_squared_error(y_test, y_predict)
print(f'SGDRegressor error: {sgd_mse}')

SGDRegressor error: 75.60759167006607

## Gradient Boosting regressor

In [13]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(max_depth=11, learning_rate=0.18, min_samples_split=3, min_samples_leaf=3)
gbr.fit(X_train, y_train)
y_predict = gbr.predict(X_test)

gbr_mse = mean_squared_error(y_test, y_predict)
print(f'Gradient Boosting Regressor error: {gbr_mse}')

Gradient Boosting Regressor error: 73.53272893471

## KNeighbors Regressor

In [84]:
from sklearn.neighbors import KNeighborsRegressor

knr = KNeighborsRegressor(n_neighbors=40)
knr.fit(X_train, y_train)
y_predict = knr.predict(X_test)

knr_mse = mean_squared_error(y_test, y_predict)
print(f'KNeighbors Regressor error: {knr_mse}')

KNeighbors Regressor error: 70.9631651786165

In [71]:
print(y_predict[0:10])
print(y_test[0:10])

[ 2.8437298  15.52825683  2.68626225  9.26102274  4.61563325 33.96656564
  4.25642233  8.81544991 17.58307389  7.9229814 ]
1532048     3
4050172    25
3266929     1
836449      9
367902      4
664174     32
2913045     8
2975247     8
1768932    20
2950620     5
Name: sa_quantity, dtype: int64

## XGBoost

In [12]:
import xgboost as xgb

Xgb_train = xgb.DMatrix(X_train, y_train)
Xgb_test = xgb.DMatrix(X_test)

param = {
    'eta':0.1,
    'seed':0,
    'subsample':0.8,
    'colsample_bytree':0.8,
    'objective':'reg:squarederror',
    'max_depth':6,
    'min_child_weight':1
}

xgb_reg = xgb.XGBRFRegressor().fit(X_train, y_train)
type(xgb_reg)

y_predict = xgb_reg.predict(X_test)
xgb_mse = mean_squared_error(y_test, y_predict)
print(f'XGBoost Regressor error: {xgb_mse}')

/home/eduardotr/.local/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[09:07:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBoost Regressor error: 71.18173299962754

# Train outliers

In [49]:
outliers = sample
outliers['is_outlier'] = (outliers['sa_quantity'] > 30).astype(int)
outliers.describe()

,location,product,sa_quantity,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year,is_outlier
count,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000,500000.000000
mean,2272.482596,184.912128,8.496744,11.742038,5.596030,363.505322,2.989823,0.246172,3.007984,159.702884,0.044416
std,2070.387745,106.367515,12.952539,5.720407,4.883897,181.290533,2.052074,0.430780,2.000224,106.520245,0.206018
min,55.000000,1.000000,0.000000,-2.930000,-10.910000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,369.000000,93.000000,2.000000,7.810000,1.970000,225.000000,1.733333,0.000000,1.000000,73.000000,0.000000
50%,2011.000000,185.000000,5.000000,11.430000,5.560000,339.000000,2.490625,0.000000,3.000000,144.000000,0.000000
75%,3175.000000,277.000000,10.000000,15.980000,9.240000,489.000000,3.490164,0.000000,5.000000,240.000000,0.000000
max,9137.000000,369.000000,457.000000,30.280000,20.980000,1022.000000,19.000000,1.000000,6.000000,382.000000,1.000000

In [50]:
from sklearn.model_selection import train_test_split

X = outliers.drop(columns=['sa_quantity', 'is_outlier'])
y = outliers['is_outlier']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=91)

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=100, random_state=91, class_weight={0:0.1, 1:100})
clf.fit(X_train, y_train)

y_predict = clf.predict(X_test)

rf_acc = accuracy_score(y_test, y_predict)
print(f'Random forest classifier accuracy: {rf_acc}')

Random forest classifier accuracy: 0.96357

In [54]:
from joblib import dump

dump(clf, 'outlier_classifier.joblib')

['outlier_classifier.joblib']

In [53]:
from sklearn.metrics import confusion_matrix

conf_m = confusion_matrix(y_test, y_predict)
print(conf_m)

[[95218   271]
 [ 3372  1139]]

# Train outlier

In [101]:
outliers = data[data['sa_quantity'] > 60]
outliers = outliers.drop(columns=['temp_mean'])
outliers.describe()

,location,product,sa_quantity,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year
count,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000,96569.000000
mean,1841.813853,143.136296,92.894262,11.664922,5.649368,369.359329,2.401708,0.206101,3.532811,165.660926
std,2024.217934,98.410695,39.563077,5.464445,4.713050,180.697500,1.495309,0.404506,1.586188,108.405404
min,55.000000,1.000000,61.000000,-2.930000,-10.910000,0.000000,0.450000,0.000000,0.000000,1.000000
25%,246.000000,64.000000,68.000000,7.780000,2.230000,234.000000,1.250000,0.000000,3.000000,77.000000
50%,1258.000000,118.000000,80.000000,11.230000,5.540000,343.000000,2.289815,0.000000,4.000000,152.000000
75%,2914.000000,218.000000,103.000000,15.680000,9.060000,495.000000,2.689655,0.000000,5.000000,247.000000
max,9137.000000,369.000000,819.000000,30.280000,20.980000,1022.000000,15.019149,1.000000,6.000000,382.000000

In [102]:
from sklearn.model_selection import train_test_split

X = outliers.drop(columns=['sa_quantity'])
y = outliers['sa_quantity']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=91)

In [103]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [104]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(n_estimators=100, random_state=91)
clf.fit(X_train, y_train)

y_predict = clf.predict(X_test)

rf_mse = mean_squared_error(y_test, y_predict)
print(f'Random forest regressor error: {rf_mse}')

Random forest regressor error: 562.1442893134515

In [105]:
from joblib import dump
dump(clf, 'outlier_reg.joblib')

['outlier_reg.joblib']

# Train With no temp

In [71]:
data_no_temp = pd.read_csv('../data_no_temp_processed.csv')
data_no_temp = data_no_temp.drop(columns=['Unnamed: 0', 'temp_mean', 'temp_max', 'temp_min', 'sunshine_quant'])
data_no_temp.describe()

,Unnamed: 0,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday,day_of_year
count,4.044240e+05,404424.000000,404424.000000,404424.000000,0.0,0.0,0.0,0.0,404424.000000,404424.000000,404424.000000,404424.000000
mean,7.785162e+06,5944.500000,185.000000,11.056448,NaN,NaN,NaN,NaN,2.990918,0.246350,3.009124,159.726277
std,4.086155e+05,515.500637,106.520865,14.744311,NaN,NaN,NaN,NaN,2.058112,0.430886,2.002261,106.600201
min,7.279632e+06,5429.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,7.380738e+06,5429.000000,93.000000,3.000000,NaN,NaN,NaN,NaN,1.733333,0.000000,1.000000,72.750000
50%,7.785162e+06,5944.500000,185.000000,7.000000,NaN,NaN,NaN,NaN,2.490323,0.000000,3.000000,144.000000
75%,8.189585e+06,6460.000000,277.000000,14.000000,NaN,NaN,NaN,NaN,3.489286,0.000000,5.000000,240.250000
max,8.290691e+06,6460.000000,369.000000,413.000000,NaN,NaN,NaN,NaN,19.000000,1.000000,6.000000,382.000000

In [45]:
from sklearn.model_selection import train_test_split

X = data_no_temp.drop(columns=['sa_quantity'])
y = data_no_temp['sa_quantity']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=91)

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [47]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(n_estimators=100, random_state=91)
clf.fit(X_train, y_train)

y_predict = clf.predict(X_test)

rf_mse = mean_squared_error(y_test, y_predict)
print(f'Random forest regressor error: {rf_mse}')

Random forest regressor error: 48.533221744452

In [48]:
from joblib import dump

dump(clf, 'no_temp_reg.joblib')

['no_temp_reg.joblib']

# Final Predictor

In [1]:
from joblib import load

clf = load('outlier_classifier.joblib')
scaler = load('scaler.joblib')
reg = load('regressor.joblib')
no_temp_reg = load('no_temp_reg.joblib')
outlier_reg = load('outlier_reg.joblib')

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('../data_to_predict_processed.csv')
data = data.drop(columns=['Unnamed: 0'])

final_prediction = np.array([]);

for _, row in data.iterrows():
    tmp = pd.DataFrame(row).T
    has_no_temp = np.any(np.isnan(tmp['temp_mean']))
    tmp = tmp.drop(columns=['temp_mean'])
    if has_no_temp:
        tmp = tmp.drop(columns=['temp_max', 'temp_min', 'sunshine_quant'])
        tmp = scaler.transform(tmp)
        final_prediction = np.append(final_prediction, no_temp_reg.predict(row))
    else:
        tmp = scaler.transform(tmp)
        is_outlier = clf.predict(tmp)
        if is_outlier[0] == 0:
            prediction = reg.predict(tmp)
        else:
            prediction = outlier_reg.predict(tmp)
        final_prediction = np.append(final_prediction, prediction)

In [7]:
print(len(final_prediction))

[ 1.96  1.89  2.05 ... 11.62  2.77  9.27]